

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Basic bundle development &mdash; Pierre Docs 1.0 documentation</title>
    
    <link rel="stylesheet" href="_static/default.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '',
        VERSION:     '1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="top" title="Pierre Docs 1.0 documentation" href="index.html" />
    <link rel="next" title="Snowcap admin bundle" href="admin/index.html" />
    <link rel="prev" title="Symfony Starter" href="symfony_starter.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="admin/index.html" title="Snowcap admin bundle"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="symfony_starter.html" title="Symfony Starter"
             accesskey="P">previous</a> |</li>
        <li><a href="index.html">Pierre Docs 1.0 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="basic-bundle-development">
<h1>Basic bundle development<a class="headerlink" href="#basic-bundle-development" title="Permalink to this headline">¶</a></h1>
<p>This section explains the basics of how to work with Models, Views &amp; Controllers in Symfony2.</p>
<p>The goal here is not to take the place of the official Symfony2 documentation, but rather
- to help you put the pieces together
- to document the coding standard and practices</p>
<p>Before you dive into the next sections, please make sure you have read and understood the two following articles in
the official Symfony2 documentation:</p>
<ul class="simple">
<li><a class="reference external" href="http://symfony.com/doc/current/quick_tour/the_big_picture.html">The Big Picture</a></li>
<li><a class="reference external" href="http://symfony.com/doc/current/book/http_fundamentals.html">Symfony2 and HTTP Fundamentals</a></li>
<li><a class="reference external" href="http://symfony.com/doc/current/book/from_flat_php_to_symfony2.html">Symfony2 versus Flat PHP</a></li>
<li><a class="reference external" href="http://symfony.com/doc/current/book/page_creation.html">Creating Pages in Symfony2</a></li>
</ul>
<div class="section" id="creation-of-a-base-layout-template">
<h2>1. Creation of a base layout template<a class="headerlink" href="#creation-of-a-base-layout-template" title="Permalink to this headline">¶</a></h2>
<p>If you are not already familiar with Twig, go ahead and read the following resources:</p>
<ul class="simple">
<li><a class="reference external" href="http://symfony.com/doc/current/book/templating.html">Creating and using Templates</a></li>
<li><a class="reference external" href="http://twig.sensiolabs.org/doc/templates.html">Twig for Template Designers</a></li>
</ul>
<p>Our symfony-starter edition provides a slightly modified version of the defautl Symfony2 base.html.twig template. You
will find it in app/Resources/views.</p>
<p>Your first step will be to create a base layout template. You can create it in the
src/YourNamespace/YourBundle/Resources/views directory. Our convention is to call it layout.html.twig.</p>
<p>Here is a sample template, with the blocks you will need to create:</p>
<div class="highlight-python"><pre>{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets
    'bundles/yourbundle/css/screen.css'
    filter='cssrewrite,?yui_css'
    output='cache/assetic/css/all.css' %}
    &lt;link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen"/&gt;
    {% endstylesheets %}
    {% stylesheets
    'bundles/yourbundle/css/ie.css'
    filter='cssrewrite,?yui_css'
    output='cache/assetic/css/ie.css' %}
    &lt;!--[if IE]&gt;
    &lt;link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen"/&gt;
    &lt;![endif]--&gt;
    {% endstylesheets %}
{% endblock %}

{% block head_javascripts %}
    {% javascripts
    'bundles/yourbundle/vendors/modernizr.js'
    filter='?yui_js'
    output='cache/assetic/js/modernizr.js' %}
    &lt;script type="text/javascript" src="{{ asset_url }}"&gt;&lt;/script&gt;
    {% endjavascripts %}
    &lt;!--[if lte IE 8 ]&gt;
    {% javascripts
    'bundles/yourbundle/vendors/respond.js'
    filter='?yui_js'
    output='cache/assetic/js/respond.js' %}
    &lt;script type="text/javascript" src="{{ asset_url }}"&gt;&lt;/script&gt;
    {% endjavascripts %}
    &lt;![endif]--&gt;
{% endblock %}

{% block javascripts %}
    {% javascripts
    'bundles/yourbundle/vendor/jquery.js'
    'bundles/yourbundle/js/screen.js'
    filter='?yui_js'
    output='cache/assetic/js/all.js' %}
    &lt;script type="text/javascript" src="{{ asset_url }}"&gt;&lt;/script&gt;
    {% endjavascripts %}
{% endblock %}

{% block layout %}

    {# Place your layout code in here #}

{% endblock layout %}</pre>
</div>
</div>
<div class="section" id="assets-setup">
<h2>2. Assets setup<a class="headerlink" href="#assets-setup" title="Permalink to this headline">¶</a></h2>
<p>As you can see in the example above, asset files (js and css) are located in a &#8220;public&#8221; directory in your bundle
Resources folder. You will need to create that directory yourself.</p>
<p>We use the following structure:</p>
<ul class="simple">
<li>Resources</li>
</ul>
<blockquote>
<div><ul class="simple">
<li>Public</li>
</ul>
<blockquote>
<div><ul class="simple">
<li>css</li>
<li>images</li>
<li>less</li>
<li>fonts</li>
<li>js</li>
<li>vendors</li>
</ul>
</div></blockquote>
</div></blockquote>
<p>TODO: explain</p>
<p>You have to add your bundle to the Assetic configuration, so that Assetic can parse your
javascripts and stylesheets tags (in app/config.yml):</p>
<div class="highlight-python"><pre>assetic:
        bundles: [“YournamespaceYourBundle”]</pre>
</div>
<p>You also need to launch the assets:install command, so that Symfony copies your asset files in an accessible directory
(in this case, the web directory):</p>
<div class="highlight-python"><pre>./app/console assets:install --symlink web</pre>
</div>
</div>
<div class="section" id="controller-and-templates">
<h2>2. Controller and templates<a class="headerlink" href="#controller-and-templates" title="Permalink to this headline">¶</a></h2>
<p>In the previous section (todo: add link), we let Symfony2 autimatically generate a controller for us.</p>
<p>Now, you can start the generated controller. Usually, the first step is to have an index action in the default
controller, without any parameter, to serve as the starting point of the website or application.</p>
<p>You can achieve that result by modifying the indexAction method and the associated &#64;Route annotation:</p>
<div class="highlight-python"><pre>/**
 * @Route("")
 * @Template()
 */
public function indexAction($name)
{
    return [];
}</pre>
</div>
<p>You will find more information about how to use route and controllers in the following articles:</p>
<ul class="simple">
<li><a class="reference external" href="http://symfony.com/doc/current/book/controller.html">Controller</a></li>
<li><a class="reference external" href="http://symfony.com/doc/current/book/routing.html">Routing</a></li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Basic bundle development</a><ul>
<li><a class="reference internal" href="#creation-of-a-base-layout-template">1. Creation of a base layout template</a></li>
<li><a class="reference internal" href="#assets-setup">2. Assets setup</a></li>
<li><a class="reference internal" href="#controller-and-templates">2. Controller and templates</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="symfony_starter.html"
                        title="previous chapter">Symfony Starter</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="admin/index.html"
                        title="next chapter">Snowcap admin bundle</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="_sources/basic_bundle_dev.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="admin/index.html" title="Snowcap admin bundle"
             >next</a> |</li>
        <li class="right" >
          <a href="symfony_starter.html" title="Symfony Starter"
             >previous</a> |</li>
        <li><a href="index.html">Pierre Docs 1.0 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2014, Pierre Vanliefland.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>